@model GUI.Models.PlanningViewModels
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>planning</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.heureDepart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.heureDepart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.heureDepart, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.city_fk, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.city_fk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.city_fk, "", new { @class = "text-danger" })
            *@
            <div class="col-md-10">
                <select name="listbox" id="listbox" class="basic" >
                        @foreach (var item in ViewBag.city)
                        {
                            <option value="@item.id">
                                @item.name
                            </option>
                        }
                </select>
            </div>
        </div>
</div>

        <div class="form-group">
            @Html.LabelFor(model => model.driver_fk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.driver_fk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.driver_fk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.transportationMean_fk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.transportationMean_fk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.transportationMean_fk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script>
    function LoadCities()
    {

        $.ajax({
            type: "POST",
            url: '/planning/cities/' + document.getElementById("listbox").value,
            data: "{}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                alert(msg);
                $.each(msg, function (index, item) {
                    alert(item.attr('Name'));
                });
            },
            error: function () {
                alert("Failed to load cities");
            }
        });
    }
</script>